<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert" *ngIf="successMessage">
                {{ successMessage }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <form [formGroup]="productForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" formControlName="title">
                    <div *ngIf="title.invalid && (title.touched || title.dirty)">
                        <small class="text-danger" *ngIf="title.errors?.['required']">Title is required.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" formControlName="price">
                    <div *ngIf="price.invalid && (price.touched || price.dirty)">
                        <small class="text-danger" *ngIf="price.errors?.['min']">Price have to be at least 0.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imgUrl" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
                    <div *ngIf="imgUrl.invalid && (imgUrl.touched || imgUrl.dirty)">
                        <small class="text-danger" *ngIf="imgUrl.errors?.['pattern']">Image URL have to be a valid
                            URL.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" class="form-control" id="brand" formControlName="brand">
                </div>
                <div class="mb-3">
                    <label for="uploader" class="form-label">Uploader</label>
                    <select id="uploader" name="uploader" class="form-select" formControlName="uploader">
                        <option *ngFor="let user of users" [ngValue]="{ id: user.id }">{{ user.firstName }} {{
                            user.lastName }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="categories" class="form-label">Categories</label>
                    <select id="categories" name="categories" class="form-select" formControlName="categories" multiple>
                        <option *ngFor="let category of categories" [ngValue]="{ id: category.id }">{{ category.title }}</option>
                    </select>
                </div>
                <div class="text-end">
                    <button class="btn btn-outline-primary" (click)="createProduct()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>